.advantages {
  background-color: $basewhite;
  text-align: center;
}

.advantages__subtitle {
  margin: 0;
  margin-bottom: 4px;
}

.advantages__header {
  margin-bottom: 3px;
  padding-bottom: 98px;
}
