.catalog {
  background-color: $lightgrey;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 44px;
}

.catalog__subtitle {
  margin: 0;
  margin-bottom: 6px;
}

.catalog__header {
  margin-bottom: 20px;
}
