.contacts {
  padding: 20px 0;
  border-bottom: 1px solid $basesecondary;

  @media (min-width: $tablet-width) {
    border-bottom: unset;
    max-width: 223px;
    padding: 0;
  }
}

.contacts__caption {
  margin-bottom: 20px;
}

.contacts__address {
  font-style: normal;
  padding-left: 20px;
  position: relative;
  margin: 0;
  margin-bottom: 16px;
}

.contacts__address-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.contacts__phone {
  font-style: normal;
  padding-left: 20px;
  position: relative;
  margin: 0;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.contacts__logo {
  position: absolute;

  &--address {
    left: 0;
    top: 4px;
  }

  &--phone {
    left: 0;
    top: 2px;
  }
}
