.contacts {
  padding: 20px 0;
  border-bottom: 1px solid $basesecondary;
}

.contacts__caption {
  margin-bottom: 20px;
}

.contacts__address {
  font-style: normal;
  padding-left: 20px;
  position: relative;
  margin: 0;
  margin-bottom: 16px;
}

.contacts__phone {
  font-style: normal;
  padding-left: 20px;
  position: relative;
  margin: 0;
}

.contacts__logo {
  position: absolute;

  &--address {
    left: 0;
    top: 4px;
  }

  &--phone {
    left: 0;
    top: 2px;
  }
}
