.credits {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  padding: 20px 0 30px;
  color: $basegrey;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 30px 0 40px;
  }
}

.credits__description {
  margin: 0;
}

.credits__link {
  color: $basegrey;
  align-items: center;
  display: flex;
  gap: 4px;

  &--logo {
    width: 12px;
    height: 16px;
    fill: $basegrey;
    transform: translateY(4%);
  }

  &:hover {
    color: $baseprimary;

    & svg {
      fill: $baseprimary;
    }
  }

  &:focus {
    color: $baseprimary;

    & svg {
      fill: $baseprimary;
    }
  }

  &:active {
    color: $primarydarker;

    & svg {
      fill: $primarydarker;
    }
  }
}
