@mixin formStyle {
  border: none;
  margin: 0;
  padding: 0;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__price {
  @include formStyle();
  margin-bottom: 30px;
}

.form__milk {
  @include formStyle();
  text-align: left;
}

.form__country {
  @include formStyle();
  text-align: left;
}

.form__buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.form__button {
  padding: 8px 20px;
  max-width: 280px;
  border-radius: 4px;
  border: none;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;

  &--apply {
    color: $basewhite;
    background-color: $baseprimary;

    &:hover,
    :focus {
      background-color: $primarylighter;
    }

    &:active {
      background-color: $primarydarker;
    }

    &:disabled {
      background-color: $basegrey;
    }
  }

  &--reset {
    color: $baseprimary;
    background-color: $basewhite;

    &:hover,
    :focus {
      color: white;
      background-color: $primarylighter;
    }

    &:active {
      color: white;
      background-color: $primarydarker;
    }

    &:disabled {
      color: white;
      background-color: #E2E2E2;
    }
  }
}

.form_results {
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 280px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
