.main-header {
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 0;
  }

  @media (min-width: 770px) {
    // margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.main-header__logo {
  max-height: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.main-header__logo-image {
  @media (min-width: $tablet-width) {
    height: 36px;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.main-header__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
