.main-footer__caption {
  color: $baseprimary;
  margin: 0;
  margin-bottom: 12px;
  padding: 0 20px;
  letter-spacing: 0.28px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-footer__list {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-footer__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  padding: 8px 0;
  letter-spacing: 0.24px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.main-footer__link {

  &:hover,
  :focus {
    color: $primarylighter;
  }

  &:active {
    color: $primarydarker;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
   justify-content: space-between;
    padding: 0 20px;
  }
}
