.map {
  border: none;
  display: block;
  height: 420px;
  background-image: url("../../images/map_mobile.jpg");
  background-color: $basegrey;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile-width-only) and (min-resolution: 2dppx) {
    background-image: url("../../images/map_mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 480px;
    background-image: url("../../images/map_tablet.jpg");
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/map_tablet@2x.jpg");
  }
}
