.order-block {
  display: flex;
  max-width: 240px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.order-block__button {
  padding: 8px 22px;
  font-size: 17px;
  line-height: 24px;
  color: $basewhite;
  border: none;
  border-radius: 4px;
  background-color: $baseprimary;

  &:hover,
  &:focus {
    background-color: $primarylighter;
    outline: none;
  }

  &:active {
    background-color: $primarydarker;
  }

  &:disabled {
    background-color: $basegrey;
  }
}

.order-block__price {
  line-height: 32px;

  &--old {
    font-size: 16px;
    text-decoration: line-through;
    color: $baseprimary;
    margin-right: 6px;
  }
}
