.pagination {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.pagination__item {
  min-width: 40px;
  max-height: 40px;
  background-color: $basewhite;
  border-radius: 4px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: $baseprimary;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;

  &--arrow {
    padding: 15px;
    fill: $baseprimary;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--current {
    background-color: $lightestgrey;
    color: $grey;
    font-weight: 600;
  }

  &:hover {
    background-color: $primarylighter;
    color: $basewhite;
    outline: none;
    fill: $basewhite;
  }

  &:focus {
    background-color: $primarylighter;
    color: $basewhite;
    outline: none;
    fill: $basewhite;
  }

  &:active {
    background-color: $primarydarker;
    color: $basewhite;
    fill: $basewhite;
  }

  &:disabled {
    background-color: $basegrey;
    color: $basewhite;
    fill: $basewhite;
  }
}

.pagination__back {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__next {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding: 8px 20px;
  }
}
