@mixin buttonStyle {
  box-sizing: border-box;
  max-width: 118px;
  max-height: 44px;
  padding: 6px;
  border-radius: 4px;
  border: 2px solid $primarylighter;
  text-align: center;
  background-color: $basewhite;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  &::placeholder {
    color: $basegrey;
  }

  &:focus {
    border-color: $primarydarker;
    outline: none;
  }

  &:disabled {
    border-color: #E2E2E2;
    color: $basegrey;
  }

  @media (min-width: $tablet-width) {
    padding: 6px 10px;
    max-width: 88px;
  }
}

.price-range__scale {
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.price-range__wrapper {
  max-width: 280px;

  & span {
    display: inline-block;
    width: 8px;
    border-bottom: 2px solid $basegrey;
    margin: 4px 14px;

    @media (min-width: $tablet-width) {
      margin: 4px 16px;
    }
  }
}

.price-range__legend {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.price-range__from {
  @include buttonStyle();

}

.price-range__to {
  @include buttonStyle();
}
