.search-results {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    gap: 16px;
    margin-bottom: 25px;
  }
}

.search-results__legend {
  margin: 0;
}

.search-results__sorting {
  width: 160px;
  height: 32px;
  color: $baseprimary;
  border: none;
  outline: none;
  background-color: $lightestgrey;
  padding: 6px;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;

  &:hover {
    background-color: $basesecondary;
  }

  &:focus {
    background-color: $basesecondary;
  }

  &--arrow {
    background-image: url("../../images/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: 149px 15px;

    &:active {
      background-image: url("../../images/arrow_up.svg");
    }
  }
}
