.search-results {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    gap: 16px;
    margin-bottom: 25px;
  }
}

.search-results__legend {
  margin: 0;
}

.search-results__sorting {
  width: 160px;
  height: 32px;
  color: $baseprimary;
  border: none;
  outline: none;
  background-color: $lightestgrey;
  padding: 6px;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  &:hover,
  :focus {
    background-color: $basesecondary;
  }

  // &:active{
  // сделать здесь стрелочку
  // }
}
