@mixin sideButton {
  background-color: $flatwhite;
  border: none;
}

.slider {
  text-align: center;
  background-color: $flatwhite;
  margin-bottom: 50px;

  @media (min-width:$tablet-width) {
    background: linear-gradient(180deg, rgba(243, 235, 225, 1) 640px, rgba(255, 255, 255, 1) 188px);
    margin-bottom: 49px;
  }
}

.slider__wrapper {
  display: grid;
  grid-template-columns: 20px 280px 20px;
  grid-template-rows: auto;

  @media (min-width:$tablet-width) {
    grid-template-columns: 80px auto 80px;
  }
}

.slider__main-image {
  grid-area: 1/2/2/3;
  padding-top: 20px;
  margin-bottom: 6px;

  @media (min-width:$tablet-width) {
    grid-area: 5/2/6/3;
    padding-top: 0;
  }
}

.slider__badge {
  grid-area: 2/2/3/3;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width:$tablet-width) {
    grid-area: 1/2/2/3;
    padding-top: 60px;
  }
}

.slider__header {
  grid-area: 3/2/4/3;
  margin: 0;
  margin-bottom: 10px;
  font-size: 37px;
  font-weight: 700;
  line-height: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000000;

  @media (min-width:$tablet-width) {
    grid-area: 2/2/3/3;
    font-size: 56px;
    line-height: 80px;
    text-shadow: none;
    -webkit-text-stroke: 0;
    margin-bottom: 16px;
    letter-spacing: 1.12px;
  }
}

.slider__description {
  grid-area: 4/2/5/3;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width:$tablet-width) {
    grid-area: 3/2/4/3;
    font-size: 20px;
    line-height: 32px;
  }
}

.slider__order-block {
  grid-area: 5/2/6/3;

  @media (min-width:$tablet-width) {
    grid-area: 4/2/5/3;
  }
}

.slider__left-button {
  grid-area: 1/1/6/2;
  @include sideButton();
  position: relative;
  padding: 0;
  outline: none;

  &:hover,
  &:focus {
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0.00) 100%);
  }

  &:disabled {
    fill: $basegrey;
  }

  @media (min-width:$tablet-width) {
    max-height: 638px;
    padding: 10px;
    box-sizing: border-box;
  }
}

.slider__left-icon {
  fill: $baseprimary;
  position: absolute;
  top: 49%;
  left: 20%;
  transform: translateY(-20%);

  @media (min-width:$tablet-width) {
    padding: 4px;
    left: 38%;
  }
}

.slider__right-button {
  grid-area: 1/3/6/4;
  @include sideButton();
  position: relative;
  padding: 0;
  outline: none;

  &:hover,
  &:focus {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #ffffff 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.00) 0%, rgba(120, 89, 207, 0.25) 100%);
  }

  &:disabled {
    fill: $basegrey;
  }

  @media (min-width:$tablet-width) {
    max-height: 638px;
    padding: 10px;
  }
}

.slider__right-icon {
  fill: $baseprimary;
  position: absolute;
  top: 49%;
  right: 25%;
  transform: translateY(-20%);

  @media (min-width:$tablet-width) {
    padding: 4px;
    right: 38%;
  }
}

.slider__empty-space {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
