.social {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $basesecondary;
  align-items: center;

  @media (min-width: $tablet-width) {
    border-bottom: unset;
    padding: 40px 20px 28px;
  }
}

.social__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  outline: none;

  &--logo {
    width: 82px;
    height: 36px;
  }

  & .social__logo {
    fill: $basegrey;
  }

  &:active .social__logo {
    background-color: rgba(120, 89, 207, 0.25);
    border-radius: 4px;
    fill: $baseprimary;
  }

  &:hover .social__logo {
    background-color: $basesecondary;
    border-radius: 4px;
    fill: $primarylighter;
  }

  &:focus .social__logo {
    background-color: $basesecondary;
    border-radius: 4px;
    fill: $primarylighter;
  }
}

.social__icons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
