.user-list {
  display: flex;
  flex-direction: row;
  position: relative;

  a {
    &:hover,
    &:active,
    &:focus {
      background-color: $basesecondary;
      outline: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: unset;
    align-items: center;
  }
}

.user-list__item {
  width: min-content;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }
}

.user-list__login {
  width: 16px;
  height: 16px;
  padding: 22px;
  position: absolute;
  top: -22px;
  right: 110px;

  span {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: unset;
    padding: 32px 22px;
  }
}

.user-list__cart {
  width: 16px;
  height: 16px;
  padding: 22px;
  position: absolute;
  top: -22px;
  right: 50px;

  span {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: unset;
    padding: 32px 22px;
  }
}
