.user-list {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;

  a {

    &:hover,
    &:active,
    &:focus {
      background-color: $basesecondary;
      outline: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: unset;
    align-items: center;
  }
}

.user-list__item {
  width: min-content;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.user-list__link {
  width: 16px;
  height: 16px;
  padding: 22px;
  position: absolute;
  top: -22px;

  &--cart {
    right: 50px;
  }

  &--login {
    right: 110px;
  }

  @media (min-width: $tablet-width) {
    position: unset;
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: fit-content;
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.user-list__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
