// Colors

$flatwhite: #f3ebe1;
$basewhite: #ffffff;
$baseprimary: #7859cf;
$basesecondary: #f0ebff;
$primarylighter: #9070ec;
$primarydarker: #593cac;
$basegrey: #bdbdbd;
$grey: #333333;
$lightestgrey: #f8f8f8;
$lightgrey: #e2e2e2;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
